html, body{
    margin:0;
    overflow:hidden;
}
input, button, submit { 
    border:0; 
    outline:none;
    background:0;
    font-size: 16px;
} 
button{ cursor:pointer; }
#logoCenter{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:auto;
    max-width:40%;
    height:auto;
    max-height: 50%;
    opacity: 0.2;
    z-index: 1;
    transition:0.3s;
}
@media screen and (max-height: 300px) {
    #logoCenter{
        opacity:0;
    }
}
.chatHistory{
    width:100%;
    position:relative;
    height:calc(100% - 6em);
    background:rgba(255,255,255,1);
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 0;
}
.message{
    display: block;
    position:relative;
    z-index: 2;
}
.message .bubble{
    display:inline-block;
    position:relative;
    background:red;
    clear:both;
    margin:8px 16px;
    padding:0.5em;
    max-width: 60%;
    min-width: auto;
    font-size:1.5em;
    border-radius: 0.7em;
    word-break: break-all;
}
.bubble.your{
    float:right;
}
.bubble.notYour{
    float:left;
}
.tooltip{
    visibility: hidden;
    width: auto;
    background-color: #3c3c3c;
    color: #fff;
    text-align: center;
    border-radius: 0.4em;
    padding: 0.3em;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 0;
    font-size: 0.65em;
    word-break: normal;
    overflow:auto;
    transition: 0.2s;
    opacity: 0;
}
.your .tooltip{
    right:101%;
}
.notYour .tooltip{
    left:101%;
}
.bubble:hover .tooltip {
    visibility: visible;
    opacity: 0.9;
}

.actionBar{
    height: 6em;
}
.settingsBar{
    position:relative;
    height: 3em;
    background:rgb(233,233,233);
    text-align: right;
    overflow:visible;
}
.settingsBar button{
    height: 100%;
    width:auto;
}
.settingsBar i{
    font-size: 2.5em !important;
    position:relative;
    top: calc(50% - 0.5em); /*Center icons vertically*/
    
}
.settingsBar i:hover{
    color:rgb(55,55,55);
}
.userList{
    color:rgb(33,33,33);
}
.connectSettings{
    color:rgb(33,33,33);
}
.statusOk{
    color:darkgreen;
    position:relative;
}
.statusErr{
    color:darkred;
    position:relative;
}
.tooltipStatus{
    visibility: hidden;
    width: auto;
    background-color: #3c3c3c;
    color: #fff;
    text-align: center;
    border-radius: 0.4em;
    padding: 0.3em;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5%;
    transform: translateY(-100%);
    right:0;
    font-size: 1rem;
    word-break: normal;
    overflow:auto;
    transition: 0.2s;
    opacity: 0;
}
button:hover .tooltipStatus {
    visibility: visible;
    opacity: 0.9;
}
.messageBar{
    width:100%;
    height:3em;
    line-height: 100%;
    
    border-top:1px solid rgb(144,144,144);
}
#chatInput{
    width:calc(100% - 3rem);
    height: 100%;
    background:rgba(0,0,0,0.0);
    float:left;
    padding:0.3rem 0.1rem 0.3rem 0.5rem;
    
    border:0;
    font-size: 1.5em;
}
#chatInput:focus{
    outline:0;
}
.sendMessage{
    float:right;
    display: inline-block;
    width:3rem;
    height: 100%;
}
.sendMessage i{
    font-size: 2em !important;
    color:rgb(33,33,33);
    border-left:solid 1px black
}
.sendMessage i:hover{
    color:rgb(55,55,55);
}
/*when user is typing make settings dissapear and make room for messages*/
@media screen and (max-height: 300px) { 
    .chatHistory{
        height:calc(100% - 3em);
    }
    .settingsBar{
        display:none;
    }
}
/*choose your userList menu*/
#userListBgrDisable{
    content:"asd";
    display: block;
    width: 100%;
    height:100%;
    background: rgba(0,0,0,0.5);
    position:fixed;
    z-index: 11;
}
#userListWindow{
    background:white;
    position: absolute;
    top:50%;
    left:50%;
    max-width:80%;
    height:auto;
    padding:0.5em;
    font-size: 1.6em;
    transform: translate(-50%,-50%);
    z-index: 12;
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.2);
}
#userListWindow .user{
    display:inline-block;
    padding:0.5rem;
    border-radius: 0.5rem;
}
/*choose your options menu*/
#settingsBgrDisable{
    content:"asd";
    display: block;
    width: 100%;
    height:100%;
    background: rgba(0,0,0,0.5);
    position:fixed;
    z-index: 11;
}
#settingsWindow{
    background:white;
    position: absolute;
    top:50%;
    left:50%;
    width:80%;
    height:auto;
    padding:0.5em;
    font-size: 1.6em;
    transform: translate(-50%,-50%);
    z-index: 12;
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.2);
}
#settingsWindow input[type="text"] {
    display:block;
    border: none;
    border-bottom: solid 2px #aaa;
    width:100%; /* minus 0.2em bo margin wchodzi w parade*/
    height:auto;
    font-size: 1.3em;
    margin:0.1em;
    margin-bottom:0.5em;
    padding:0.3em;
    transition:0.3s;
    background: none;
    outline: none;
    box-sizing: border-box;
}
#settingsWindow input[type="text"]:focus {
    background:white;
    border-bottom: solid 2px black;
}
#settingsWindow input[type="radio"] {
    display:inline-block;
    float:left;
    width:calc(5% - 0.2em); /* minus 0.2em bo margin wchodzi w parade*/
    height:3em;
    -webkit-appearance:none;
    margin:0.1em;
    transition:0.3s;
    background: gold;
    outline: none;
    box-sizing: border-box;
}
#settingsWindow input[type="radio"]:hover {
    transform: scale(1, 2);
}
#settingsWindow input[type="radio"]:checked {
    width:calc(55% - 0.2em);
}
#settingsWindow input[type="radio"]:checked:hover {
    transform: scale(1, 2);
}
@media screen and (max-width:600px){
    #settingsWindow{
        width:calc(100% - 3em);
        height:calc(100% - 3em);
        overflow:auto;
    }
    #settingsWindow input[type="radio"] {
        width:calc(50% - 0.2em); /* minus 0.2em bo margin wchodzi w parade*/
        height:calc(5% - 0.2em);
    }
    #settingsWindow input[type="radio"]:hover {
        transform: scale(1.1, 1.7);
    }
    #settingsWindow input[type="radio"]:checked {
        height:calc(5% - 0.2em);
        width:calc(50% - 0.2em);
        border:solid 2px #7777ff;
        border-bottom-left-radius: 2em;
        border-top-right-radius: 2em;
        
    }
    #settingsWindow input[type="radio"]:checked:hover {
        transform: scale(1.1, 1.7);
    }
}
#settingsWindow input[type="button"] {
    float:right;
    clear:both;
    margin:2em;
    padding: 1em;
    outline:none;
    background:none;
    -webkit-appearance:none;
    border:solid 1px rgb(144,144,144);
    transition: 0.2s;
}
#settingsWindow input[type="button"]:focus {
    border:solid 1px black;
    opacity:0.3;
}

#settingsWindow input[type="radio"].red,
.bubble.red, #userListWindow .user.red{
    background: #FF7373;
}
#settingsWindow input[type="radio"].green,
.bubble.green, #userListWindow .user.green{
    background: #B0F66E;
}
#settingsWindow input[type="radio"].blue,
.bubble.blue, #userListWindow .user.blue{
    background: #6CAEE0;
}
#settingsWindow input[type="radio"].pink,
.bubble.pink, #userListWindow .user.pink{
    background: #E480E7;
}
#settingsWindow input[type="radio"].orange,
.bubble.orange, #userListWindow .user.orange{
    background: #FFAD73;
}
#settingsWindow input[type="radio"].silver,
.bubble.silver, #userListWindow .user.silver{
    background: #ccc;
}
#settingsWindow input[type="radio"].gold,
.bubble.gold, #userListWindow .user.gold{
    background: #FFBA2F;
}
#settingsWindow input[type="radio"].black,
.bubble.black, #userListWindow .user.black{
    background: #2f2f2f;
    color:white;
}
#settingsWindow input[type="radio"].purple,
.bubble.purple, #userListWindow .user.purple{
    background: #A02BA4;
}

#settingsWindow input[type="radio"].rainbow,
.bubble.rainbow, #userListWindow .user.rainbow{
    background: linear-gradient(90deg, #ff4c4c, #ed8012, #e8b71d, #e3e81d, #1de840, #1ddde8, #5046db, #ef6cfc, #ff4c4c);
    background-size: 4000% 100%;
    animation: rainbow 6s linear infinite;
}
@keyframes rainbow { 
    0%{background-position:0% 0%;}
    99.9%{background-position:100% 0%}
    100%{background-position:0% 0%}
}